Flask-HTTPAuth==3.2.4
Flask-RESTful==0.3.6
Flask==1.0.2
SQLAlchemy==1.2.0
Werkzeug==0.14.1
celery[librabbitmq]==4.2.1
docker==3.4.1
gunicorn==19.7.1
itsdangerous==0.24
mysql-connector-python==8.0.5
numpy==1.14.0
passlib==1.7.1

# libcloud with fixes for azure storage, remove when apache-libcloud>2.3.0 is published
https://github.com/apache/libcloud/archive/9039968249cba20a546e5d1eb54ad2efbfa79f43.zip
lockfile==0.12.2
